<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="page-post-container">
    <h1>Edit Page</h1>
    <a th:href="@{/}">Back to Dashboard</a>

    <table>
        <tr>
            <td>
                <form th:action="@{/page/edit/{id}(id=${page.id})}" method="post">
                    <input type="hidden" th:value="${page.id}" />
                    <div>
                        <label for="pageName">Page Name:</label>
                        <input type="text" id="pageName" name="pageName" th:value="${page.pageName}" required>
                    </div>
                    <div>
                        <label for="keyword">Keyword:</label>
                        <input type="text" id="keyword" name="keyword" th:value="${page.keyword}">
                    </div>
                    <div>
                        <label for="content">Content:</label>
                        <textarea id="content" name="content" rows="4" cols="50" th:text="${page.content}"></textarea>
                    </div>
                    <div>
                        <label for="parentPageId">Parent Page ID:</label>
                        <input type="number" id="parentPageId" name="parentPageId" th:value="${page.parentPageId}">
                    </div>
                    <div>
                        <label for="thumbnailImage">Thumbnail Image:</label>
                        <input type="text" id="thumbnailImage" name="thumbnailImage" th:value="${page.thumbnailImage}">
                    </div>
                    <button type="submit">Save</button>
                </form>
                <a th:href="@{/page/view/{id}(id=${page.id})}">View</a> |
                <a th:href="@{/page/all}">Back to Page List</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>