<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="page-post-container">
    <h1>Add New Page</h1>
    <a th:href="@{/}">Back to Dashboard</a>

    <table>
        <tr>
            <td>
                <form th:action="@{/page/new}" method="post">
                    <div>
                        <label for="pageName">Page Name:</label>
                        <input type="text" id="pageName" name="pageName" required>
                    </div>
                    <div>
                        <label for="keyword">Keyword:</label>
                        <input type="text" id="keyword" name="keyword">
                    </div>
                    <div>
                        <label for="content">Content:</label>
                        <textarea id="content" name="content" rows="4" cols="50"></textarea>
                    </div>
                    <div>
                        <label for="parentPageId">Parent Page ID:</label>
                        <input type="number" id="parentPageId" name="parentPageId">
                    </div>
                    <div>
                        <label for="thumbnailImage">Thumbnail Image:</label>
                        <input type="text" id="thumbnailImage" name="thumbnailImage">
                    </div>
                    <button type="submit">Save</button>
                </form>
                <a th:href="@{/page/all}">Back to Page List</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>