<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add New Post</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="page-post-container">
  <h1>Add New Post</h1>
  <a th:href="@{/}">Back to Dashboard</a>
  <table>
    <tr>
      <td>
        <form th:action="@{/post/new}" method="post">
          <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
          </div>
          <div>
            <label for="content">Content:</label>
            <textarea id="content" name="content" rows="4" cols="50"></textarea>
          </div>
          <div>
            <label for="categoryId">Category ID:</label>
            <input type="number" id="categoryId" name="categoryId">
          </div>
          <button type="submit">Save</button>
        </form>
        <a th:href="@{/post/all}">Back to Post List</a>
      </td>
    </tr>
  </table>
</div>
</body>
</html>