<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form class="login" method="post" action="infor">
        <div class="title">LOGIN</div>
        <div>
            <input type="text" name="id">
            <label>ID</label>
        </div>
        <div>
            <input type="password"  name="password">
            <label>Password</label>
            <i class='bx bx-lock-alt' id="lock-password"></i>
        </div>
        
        <div class="btn">
            <input type="submit" value="Login" class="inp">
        </div>
        
    </form>
</body>
</html>